* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #444;
  font-family: Apercu, "Source Sans Pro", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #008080;
}
::-webkit-scrollbar-track {
  background: white;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  color: #555;
  opacity: 0.6;
}

svg:hover {
  color: #008080;
  opacity: 1;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
strong {
  font-weight: 700;
  color: #333;
}

/* header */
.intro {
  padding: 120px 100px;
  height: 100vh;

  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 630px) {
  .intro {
    padding: 120px 70px;
  }
}
@media screen and (max-width: 550px) {
  .intro {
    padding: 120px 50px;
  }
}
@media screen and (max-width: 480px) {
  .intro {
    padding: 70px 50px;
  }
}

.intro-tagline {
  font-size: 2.5rem;
}

.intro-title-name {
  color: #008080;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.typed-container h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #008080; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.typed-container {
  display: inline-block;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #008080;
  }
}

.intro-phonetic-definition {
  font-size: 2.5rem;
  margin: 0;
  color: #008080;
}
/* font-size change on screen size change */
@media screen and (max-width: 1024px) {
  .intro-tagline {
    font-size: 2.25rem;
  }
  .intro-title-name {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .intro-tagline {
    font-size: 2rem;
  }
  .intro-title-name {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 550px) {
  .intro-tagline {
    font-size: 1.75rem;
  }
  .intro-title-name {
    font-size: 2rem;
  }

  .intro-phonetic-definition {
    font-size: 1.5rem;
  }
  .intro-definition-example {
    font-size: 1rem;
  }
}
@media screen and (max-width: 360px) {
  .intro-tagline {
    font-size: 1.5rem;
  }

  .intro-title-name {
    font-size: 1.75rem;
  }

  .intro-definition-example {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 330px) {
  .intro-title-name,
  .intro-tagline {
    font-size: 1.4rem;
  }
}

.intro-definition-example {
  margin: 0;
  display: block;
  font-size: 1.75;
}
.intro-tagline {
  font-weight: 300;
  max-width: 700px;
}
.intro-tagline .name {
  font-weight: 700;
  color: #008080;
}
.intro-contact {
  font-size: 1.25rem;
  font-weight: 400;
}

.social-link {
  height: 50px;
  width: 50px;
  /* padding-left: 20px; */
}
@media screen and (max-width: 550px) {
  .intro-contact {
    font-size: 1rem;
  }
}
.intro-contact {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 60px;
  margin: 0 5px;
  vertical-align: text-bottom;
}

/* background */
.section {
  display: flex;
  justify-content: center;
  padding: 75px 170px;
}
@media screen and (max-width: 1280px) {
  .section {
    padding: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .section {
    padding: 50px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .section {
    padding: 50px 35px;
  }
}
.section-title {
  flex-shrink: 0;
  width: 200px;
  margin-right: 70px;
  color: #008080;
  text-transform: uppercase;
  text-align: right;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.75rem;
}
@media screen and (max-width: 1024px) {
  .section-title {
    margin-right: 50px;
  }
}
@media screen and (max-width: 850px) {
  .section-title {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .section-title {
    text-align: left;
    width: auto;
  }
}
.section-content {
  font-weight: 300;
  font-size: 1.2rem;
  width: 100%;
  max-width: 650px;
}
@media screen and (max-width: 768px) {
  .section-content {
    padding-top: 30px;
    padding-left: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section-content {
    padding-left: 30px;
  }
}
.section-content p {
  margin-top: 0;
  margin-bottom: 25px;
}

.section-content .underline-link {
  position: relative;
  display: inline-block;
}
.section-content .underline-link:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #36363c;
  content: "";
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-5px);
}

.section-content .underline-link:focus:after,
.section-content .underline-link:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  transform: translateY(-2px);
}
/* Skills Icons */

.section-content.section-icons {
  padding: 0;
  padding-top: 1.25rem;
}

.section-icons {
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: 100px;
  grid-row-gap: 50px;
  cursor: pointer;
  padding-top: 10px;
}

.icon-hover > .icon-logo {
  transition: transform 250ms, opacity 400ms;
}

.icon-logo {
  margin-bottom: 0;
  padding-bottom: 0;
}

.icon-logo:hover {
  transform: scale(1.25);
}
.icon-name {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.icon-hover:hover > .icon-name,
.icon-hover:hover > .icon-logo {
  transform: scale(1.25);
  opacity: 1;
  color: #008080;
}

.section-icons > * {
  width: 50px;
  margin: 0 25px;
}
@media screen and (max-width: 970px) {
  .section-icons {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-row-gap: 10px;
  }

  .section-icons > * {
    width: 45px;
    margin: 0px 15px;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .section-icons {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-row-gap: 10px;
  }
  .section-icons > * {
    width: 45px;
    margin: 10px 25px;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
  }
}
@media screen and (max-width: 550px) {
  .section-icons {
    align-self: center;
    grid-template-columns: repeat(2, minmax(70px, 1fr));
    grid-row-gap: 25px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
  }
  .section-icons > * {
    width: 50px;
    margin: 15px 25px;
  }
}

/* projects */

.projects .project {
  /* max-width: 600px; */
  width: 100%;
  margin-bottom: 50px;
}
.projects .project-name {
  margin-bottom: 10px;
}
.projects .project p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.project-title {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

/* links to Github & Live Code */
.code-link {
  border: 2px solid #008080;
  display: inline-block;
  margin: 0px 3px 3px 0px;
  border-radius: 3px;
  /* margin-left: 1rem; */
  padding: 2px 7px;
}
.code-link .code-link-item {
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 3px;
  color: #008080;
  background: 0 0;
}

.code-link-item:hover,
.code-link:hover {
  color: #fff;
  background-color: #008080;
}

.demo-link {
  border: 2px solid #008080;
  display: inline-block;
  margin: 0px 3px 3px 0px;
  border-radius: 3px;
  /* margin-left: 1rem; */
  padding: 2px 7px;
}

.demo-link,
.demo-link-item {
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 3px;
  color: #008080;
  background: 0 0;
}

.demo-link:hover,
.demo-link-item:hover {
  color: #fff;
  background-color: #008080;
}

/* project img */
.project-img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-overlay .project-img {
  transition: 1s ease;
}

.img-overlay .project-img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.project-description {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
}

.projects .project-used-item {
  display: inline-block;
  margin: 0px 3px 0px 3px;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 2px 7px;

  color: #008080;
  border: 2px solid #008080;
  background: 0 0;
}
.projects .project-used-item:first-of-type {
  margin-left: 0;
}

.section.projects {
  padding-bottom: 0px;
}

.projects-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin: 0 auto;
  align-self: center;
}

.projects-flex h5 {
  margin: 0;
  font-size: 1.1rem;
}

/* FOOTER */
.footer {
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 50px;
  }
}
@media screen and (max-width: 630px) {
  .footer {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 50px 30px;
  }
}
.footer-copyright {
  font-weight: 700;
  /* width: 200px; */
}
@media screen and (max-width: 630px) {
  .footer-copyright {
    width: auto;
    text-align: center;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 630px) {
  .footer-copyright .bottom,
  .footer-copyright .top {
    display: inline-block;
    padding-right: 3px;
  }
}
@media screen and (max-width: 480px) {
  .footer-copyright .bottom,
  .footer-copyright .top {
    display: block;
  }
}

@media screen and (max-width: 630px) {
  .footer-links {
    justify-content: center;
  }
}
.footer-copyright {
  margin: 0 3px;
  vertical-align: text-bottom;
  font-size: 1.1rem;
}

.footer-links a {
  position: relative;
  display: inline-block;
  color: #008080 !important;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0;
}

@media screen and (max-width: 1024px) {
  .footer-links a {
    margin: 0 10px;
  }
}
.footer-links a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #008080;
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-5px);
}

.footer-links a:focus:after,
.footer-links a:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  transform: translateY(0);
}
.footer-links a .text {
  font-size: 1.2rem;
  display: inline;
  letter-spacing: 1px;
}
