* {
  box-sizing: border-box;


}

:root {
  --primary-color: #008080;
  --secondary-color: #004080;
  --bright-text: #fff;
  --dark-background: #150a41;
  --light-background: #fefbea;
  --dark-text: #000;
  --light-text: #fff;
  --dark-shadow: text-shadow: -3px -3px #000;
  --light-shadow: text-shadow: -3px -3px #fff;
}

html {
  scroll-padding-top: 70px; /* height of sticky header */
}

#light {
  transition: background 2s;
  color: var(--dark-text);
  background-color: var(--light-background);
  
}

#dark {
  transition: background 2s;
  background-color: var(--dark-background);
  color: var(--light-text);
  
}

.theme-btn{
/* padding: 0px 15px ; */
height:50px;
width: 90px;
font-weight: 900;
border-radius: 2px;
border: 2px solid;
cursor: pointer;
font-size: 1rem;
letter-spacing: 0.2em;
text-transform: uppercase;
background-color: var(--primary-color);
}

.theme-btn:hover{
  color: white 
}


body {
  margin: 0;
  padding: 0;

  font-family: Apercu, "Source Sans Pro", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
  font-size: 16px;
  background-color: var(--light-background);
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
::-webkit-scrollbar-track {
  background: var(--background);
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  opacity: 0.6;
}

svg:hover {
  color: var(--primary-color);
  opacity: 1;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
strong {
  font-weight: 700;
}

hr {
  border: 2px wavy var(--primary-color);
  opacity: 0.5;
}

/* header */
#header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: sticky;
    top: 0;
  background-color: inherit;
  /* have header above other things */
  z-index: 9;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--primary-color);

}
#dark #header {
  text-shadow: var(--light-shadow);

}

.nav__list {
  display: flex;
  justify-content: space-evenly;
}

.nav__list li {
  font-size: 1.8rem;
  margin-right: 50px;;

}

.header__logo span {
  color: var(--primary-color);
  text-shadow: -3px -3px #000;
  font-size: 2.5rem;
  font-weight: bold;

  padding: 5px ;
}

.header__logo span:hover{
  box-shadow: inset 0 -60px 0 0 var(--primary-color);
  color: var(--bright-text);
}
#dark .header__logo span{
  text-shadow: -3px -3px #fff;
}

#dark  .header__logo span:hover{
  color: var(--dark-text)

}


.landing__heading--name {
  color: var(--primary-color);
  text-shadow: -6px -6px black;
  font-size: 5rem;

  font-weight: 900;
  margin-bottom: 100px;
}

#dark .landing__heading--name {
  text-shadow: -3px -4px #fff;
}

.landing__heading--name:hover {
  padding-left: 8px;
  box-shadow: inset 0 -120px 0 0 var(--primary-color);
  color: var(--bright-text);
}

#dark .landing__heading--name:hover{
  color: var(--dark-text)

}
.intro {
  padding: 120px 100px 0px;
  height: 100vh;

  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 430px) {
  .intro {
    padding: 70px 50px 0px;
  }

  .landing__heading--name {
    font-size: 2rem;
    text-shadow: -3px -4px black;
  }

  #header {
    padding: 15px;
  }

  .nav__list {
    margin-top: 10px;
  }

  .nav__list li {
    font-size: 0.9rem;
    margin-left: 0px;
    margin-right: 18px;
  }

  .nav__list li:nth-of-type(3){
    margin-right: 0px;
  }

  .theme-btn{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding: 0px;
    height: 35px;
    width: 60px;
  }
}

@media screen and (max-width: 390px) {
  #dark .landing__heading--name {
    font-size: 1.7rem;
    text-shadow: -3px -3px white;
  }

  

  .landing__heading--name {
    font-size: 1.7rem;
    text-shadow: -3px -3px black;
  }

  

  .nav__list li {
    margin-left: 0px;
    font-size: 0.75rem;
    margin-right: 12px;
  }

  .nav__list li:nth-of-type(3){
    margin-right: 0px;
  }

  .theme-btn{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding: 0px 1px;

  }
  
}

.intro-tagline {
  font-size: 2.5rem;
}

.intro-tagline {
  font-weight: 300;
  max-width: 700px;
}
.intro-tagline .name {
  font-weight: 700;
  color: var(--primary-color);
}

.social-link {
  height: 50px;
  width: 50px;
  margin-right: 60px;
  color: var(--primary-color);
}

.intro-contact {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  vertical-align: text-bottom;
  margin-top: 60px;
  font-size: 1.25rem;
  font-weight: 400;
}

/* font-size change on screen size change */
@media screen and (max-width: 430px) {
  .intro-tagline {
    font-size: 1.5rem;
  }

  .intro-contact{
    flex-direction: column;
  }

  .intro-contact span a {
    margin-top: 20px;
  }

  .header__logo span {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 380px) {
  .intro-tagline {
    font-size: 1.3rem;
  }
  .social-link {
    height: 30px;
    width: 30px;
  }
  .intro-contact {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .header__logo span {
    font-size: 1.5rem;
  }
}

.intro-contact span:nth-of-type(2) {
  padding-left: 20px;
}
.highlight-link {
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding: 2px 5px;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 var(--primary-color);
}
.highlight-link:hover {
  box-shadow: inset 0 -50px 0 0 var(--primary-color) !important;
  color: var(--bright-text);
}
/* background */

.background {
  background-color: var(--primary-color);
  /* background: linear-gradient(176deg, #fff 70%, #008080 calc(70% + 2px)); */
}
.section {
  display: flex;
  justify-content: center;
  padding: 75px 170px;

}
@media screen and (max-width: 1280px) {
  .section {
    padding: 80px 50px;
  }

}
@media screen and (max-width: 1024px) {
  .section {
    padding: 80px 50px;
  }
  

}
@media screen and (max-width: 768px) {
  .section {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .section {
    padding: 30px 35px;
  }
}


.section-title,
.section-title-background {
  flex-shrink: 0;
  width: 200px;
  margin-right: 70px;

  text-transform: uppercase;
  text-align: right;
  font-weight: 900;
  letter-spacing: 2px;

  color: var(--primary-color);
  text-shadow: -3px -3px black;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#dark .section-title{
  text-shadow: -3px -3px var(--bright-text)

}

.section-title-background {
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .section-title,
  .section-title-background {
    margin-right: 50px;
  }
}
@media screen and (max-width: 850px) {
  .section-title,
  .section-title-background {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .section-title,
  .section-title-background {
    text-align: left;
    width: auto;
  }
}

.section-content-background {
  color: #fff;
}
.section-content-background .hobbies {
  color: var(--dark-text);
  font-weight: 500;

}

.hobbies{
  font-size: 2rem;
}
.uni-link{
  color: var(--dark-text);
  box-shadow: inset 0 -3px 0 var(--light-text);
  padding: 2px 3px;
}

.uni-link:hover{
  box-shadow: inset 0 -40px 0 var(--light-text);

}
.emoji{
  font-size: 1.75rem;

}
.section-content,
.section-content-background p {
  font-weight: 300;
  font-size: 1.5rem;
  width: 100%;

  max-width: 900px;
}

@media screen and (max-width: 430px) {
  .section-content,
  .section-content-background {
    padding-left: 30px;
  }
  .section-content-background p {
    font-size: 0.85rem;

  }
}
.section-content p,
.section-content-background p {
  margin-top: 0px;
  margin-bottom: 25px;
  
}

.section-content .underline-link,
.section-content-background .underline-link {
  position: relative;
  display: inline-block;
}
.section-content .underline-link:after,
.section-content-background .underline-link:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;

  content: "";
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-5px);
}

.section-content .underline-link:focus:after,
.section-content .underline-link:hover:after,
.section-content-background .underline-link:focus:after,
.section-content-background .underline-link:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  transform: translateY(-2px);
}
/* Skills Icons */

.section-content.section-icons {
  padding: 0;
  padding-top: 1.25rem;
}

.section-icons {
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  cursor: pointer;
  padding-top: 10px;
}


.icon-hover > .icon-logo,
.icon-hover > .icon-name {
  transition: transform 250ms, opacity 400ms;
}

.icon-logo {
  margin-bottom: 0;
  padding-bottom: 0;
}

.icon-name {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.icon-hover:hover > .icon-name,
.icon-hover:hover > .icon-logo {
  transform: scale(1.55);
  transition: transform 250ms, opacity 400ms;
  opacity: 1;
  color: var(--primary-color);
}
.section-icons > * {
  width: 50px;
  margin: 0 25px;
}
@media screen and (max-width: 970px) {
  .section-icons > * {
    width: 45px;
    margin: 0px 25px;
  }
}

@media screen and (max-width: 768px) {
  .section-icons {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-row-gap: 10px;
  }
  .section-icons > * {
    width: 45px;
    margin: 10px 25px;
    grid-template-columns: repeat(4, minmax(70px, 1fr));
  }
}
@media screen and (max-width: 550px) {
  .section-icons {
    align-self: center;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
    grid-row-gap: 25px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
  }
  .section-icons > * {
    width: 40px;
    margin: 15px 25px;
  }
}

@media (max-width: 430px) {
  .icon-name {
    font-size: 0.8rem;
  }

  .icon-hover:hover > .icon-name,
  .icon-hover:hover > .icon-logo {
    transform: scale(1.23);
  }
}

/* projects */



.project {
  width: 115%;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 30px;

  border-radius: 25px;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  border: 4px solid var(--primary-color);
 

  padding-top: 20px;
}

#dark .project {
  border: 4px solid white;
  box-shadow: 8px 16px 16px rgba(255, 255, 255, 0.25);
  
}




.projects .project-name {
  margin-bottom: 10px;
}

.project-title {
  display: inline-block;
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  font-weight: 900;
  letter-spacing: 1px;

  color: var(--primary-color);
  text-shadow: -3px -3px black;
  text-decoration: none;
  display: inline-block;
  padding: 0px 5px;
  font-size: 2rem;
}

.project-title:hover {
  box-shadow: inset 0 -75px 0 0 var(--primary-color);
  color: var(--bright-text);
}

.project-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.project {
  margin-bottom: 120px;
}

.project:nth-of-type(2) {
  margin-top: 120px;
}

@media (max-width: 630px) {
  .project-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 430px) {
  .project-title {
    font-size: 1.1rem;
    margin-top: 3px;
    padding: 5px 5px;

    text-shadow: -2px -2px black;
  }

  .project {
    padding-top: 65px;
    margin-bottom: 50px;
    padding: 8px;
    margin-left: -30px
  }

  .project:nth-of-type(1) {
    padding-right: 10px;
  }

  .project:nth-of-type(2) {
    margin-top: 50px;
  }
}

@media (max-width: 375px) {
  .project-title {
    font-size: 1rem;
    margin-top: 7px;
  }

  .project {
    margin-bottom: 50px;
    margin-left: -30px;
  }

  .project:nth-of-type(2) {
    margin-top: 50px;
  }
}
@media (max-width: 340px) {
  .project-title {
    font-size: 0.5rem;
    margin-top: 7px;
  }

  .project {
    margin-bottom: 50px;
    margin-left: -30px
  }

  .project:nth-of-type(2) {
    margin-top: 50px;
  }
}

/* links to Github & Live Code */

.project-links a {
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 0px 5px;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 var(--primary-color);

  font-size: 1.7rem;
}

.code-link-item {
  margin-right: 30px;
}

.project-links a:hover {
  box-shadow: inset 0 -66px 0 0 var(--primary-color);
  color: var(--bright-text);
}

@media (max-width: 440px) {
  .project-links a {
    font-size: 1rem;
  }
  .code-link-item {
    margin-right: 20px;
  }
}

@media (max-width: 380px) {
  .project-links a {
    font-size: 0.9rem;
    box-shadow: none;
  }
  .code-link-item {
    margin-right: 10px;
  }
}

/* project imgs */
.project-img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-overlay {
  transition: 1s ease;
  order: 2;
  width: 100%;
  position: relative;
}
.img-overlay:hover {
  opacity: 0.4;
}
.project-img-desktop {
  position: relative;
  width: 100%;
  border-radius: 10px;

  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.project-img-mobile {
  border-radius: 10px;
  position: absolute;

  height: 80%;
  width: 30%;
  right: -1.5rem;
  bottom: -1.5rem;
}

.project-description {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 25px;
  color: (var(--secondary-color));
}

.project-used .project-used-item {
  margin-top: -10px;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 2px 5px;

  background: 0 0;
  line-height: 0.7;
}
.projects .project-used-item:first-of-type {
  margin-left: 0;
}

@media (max-width: 430px) {
  .project-description {
    font-size: 0.8rem;
  }

  .project-used-item:first-of-type {
    margin-left: 0;
    padding-left: 0;
  }

  .project-used {
    margin-top: -20px;
  }

  .project .project-used-item {
    font-size: 0.6rem;
    margin-right: -6px;
  }

  .zig-zag {
    width: 90%;
    height: 30px;
    background-size: 30px 30px;
  }
}

/* FOOTER */
.footer {
  padding: 50px 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  color:var(--dark-text)
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 50px;
  }
}
@media screen and (max-width: 630px) {
  .footer {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 50px 30px;
    margin-bottom: 50px;
  }
}


.footer-copyright {
  font-weight: 700;

}
@media screen and (max-width: 630px) {
  .footer-copyright {
    width: auto;
    text-align: center;
    margin-bottom: 25px;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (max-width: 630px) {
  .footer-copyright .bottom,
  .footer-copyright .top {
    display: inline-block;
    padding-right: 3px;
  }
}
@media screen and (max-width: 480px) {
  .footer-copyright .bottom,
  .footer-copyright .top {
    display: block;
  }
}

@media screen and (max-width: 630px) {
  .footer-links {
    justify-content: center;
  }
}
.footer-copyright {
  margin: 0 3px;
  vertical-align: text-bottom;
  font-size: 1.1rem;
}

.footer-links a {
  color: white !important;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0;
}

.footer-links a:hover{
  text-decoration: 2px underline ;
  opacity: 0.6;

}

@media screen and (max-width: 1024px) {
  .footer-links a {
    margin: 0 10px;
  }
}
.footer-links a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-5px);
}

.footer-links a:focus:after,
.footer-links a:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  transform: translateY(0);
}
.footer-links a .text {
  font-size: 1.2rem;
  display: inline;
  letter-spacing: 1px;
}
